div.imagen-2 {
    width: 50%;
    margin: 20px auto;
    color: #000;
    padding: 15px;
    margin-top: 150px;
  }

  div.imagen-2 img.derecha {
    float: left;
    margin-left: 15px;
  }

  .textoSuroccidente{
    float: left;
    margin: 0;
    left: 50%;
    transform: translatex(-50%);
    position: relative;
    margin-top: 100px;
    margin-bottom: 0px;
  }

  .footer{
    background: #ff0000;
    font-size: 18px;
    padding: 35px;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.tituloFooter{
    float: left;
    margin: 0;
    left: 50%;
    transform: translatex(-50%);
    position: relative;
    color: white;
    font-size: 18px;
}