div.imagen_texto_valle {
    width: 50%;
    margin: 20px auto;
    color: #000;
    padding: 15px;
    margin-top: 100px;
  }

  div.imagen_texto_valle img.izquierda {
    float: left;
    margin-left: 0;
    margin-top: 0;
    margin-right: 50px;
    margin-bottom: 50px;
  
  }


  .footer_valle{
    background: #ff0000;
    font-size: 18px;
    padding: 35px;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.footer_valle2{
    float: left;
    margin: 0;
    left: 50%;
    transform: translatex(-50%);
    position: relative;
    color: white;
    font-size: 18px;
}

.texto_valle{
    float: left;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-top: 50px;
    margin-bottom: 0px;
}